body{
    background-color:lightgreen;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#userInput{
    background-color:lightcoral;
    border: 4mm ridge rgba(198, 68, 194, 0.6);
}
#nav{
    margin:10px;
    padding:10px;
    background-color:lightcoral;
     border: 4mm ridge rgba(198, 68, 194, 0.6);
}
.btn1{
    padding:5px;
 position: absolute;
            bottom:10px;
            left:10px;
}
.btn2{
    padding:5px;
 position: absolute;
            bottom:10px;
            right:10px;
}

#jsbtn1{
 padding:5px;
 position: absolute;
            bottom:50px;
            right:10px;
}
#jsbtn2{
 padding:5px;
 position:absolute;
            bottom:90px;
            right:10px;
}